.body-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Coda', 'Roboto';
}

.title-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
}

.title-info .title {
    font-size: 50px;
    height: 10px;
}

.title-info .subtitle {
    font-size: 25px;
    height: 20px;
}

.title-info img {
    margin-top: 25px;
    height: 50px;
}

.title-info p {
    height: 500px;
}

.demo-data {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    margin: 10px;
}

.demo-data .upload-button {
    font-size: 20px;
    margin: 10px;
    align-self: center;
    width: 300px;
}


.footer {
    min-height: 20vh;
}


